<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuke调试帮助页</title>
    <style>
        *{margin: 0; padding: 0}
        h2{margin-top: 20px;margin-bottom:20px}
        h3{margin-top: 20px;margin-bottom:20px}
        .container{padding-top: 50px; text-align: center}
        .desc{font-size: 16px; margin: 20px auto; width: 450px; line-height: 39px; text-align: left}
        .img,.img img{ width: 200px; height: 200px; line-height: 200px; display: inline-block; vertical-align: middle; color: darkred}
        .qrcode-container {overflow: hidden;margin-top: 20px}
        .qrcode {display:inline-block;margin-right: 50px;padding-bottom:50px;}
        .switch_info{ color:green; display:none}
        .left{float:left; width: 30%;border-right: 1px solid}
        .right{float:right;width: 69%;text-align:left}.right .bs-example{border:1px solid #ddd; border-radius: 4px 4px 0 0;padding-left: 10px}
        .bs-example-li{display: flex;margin-top:10px;margin-bottom: 10px;align-items: center;}
        .bs-example-li>p{margin-right: 10px}
        .launch-btn{padding: 2px 4px;margin-left: 10px}
        .todo{text-decoration: line-through;}
        .bundle-input{width: 250px;}
        .loading{display:none}
        .debug-info{color:red;font-size:12px;margin-bottom: 10px}
        h2{padding-bottom: 0px}
        @font-face {
          font-family: 'iconfont';  /* project id 228692 */
          src: url('//at.alicdn.com/t/font_sso7adrnnbd6xbt9.eot');
          src: url('//at.alicdn.com/t/font_sso7adrnnbd6xbt9.eot?#iefix') format('embedded-opentype'),
          url('//at.alicdn.com/t/font_sso7adrnnbd6xbt9.woff') format('woff'),
          url('//at.alicdn.com/t/font_sso7adrnnbd6xbt9.ttf') format('truetype'),
          url('//at.alicdn.com/t/font_sso7adrnnbd6xbt9.svg#iconfont') format('svg');
        }
        button {
          padding: 2px 4px;
          font-size: 14px;
          color:azure;
          border-radius: 5px;
          border: none;
          box-shadow: none;
          background-color: #3089DC;
        }
        .iconfont{
          font-family:"iconfont" !important;
          font-style:normal;
          /*-webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;*/
        }
    </style>
</head>
<body>

<div class="container">
  <div class="left">
    <div class="examples-body">
      <span>切换调试页面</span>
      <p class="switch_info">切换成功,刷新引用即可调试新页面</p>
      <select id="J_entry">
        <% for(var key in htmlWebpackPlugin.options.entry) { %>
        <option value="<%= key %>">
          <%= key %>
        </option>
        <% } %>
      </select>
    </div>
    <div class="qrcode-container">
      <div class="qrcode weex">
        <h2>单页调试免切换</h2>
        <p class="debug-info">请先扫描weex devtool的二维码建立调试链接,再扫描此二维码</p>
        <div id="J_img_weex" class="img">
        </div>
        <p class="debug-info">模拟器渲染单页面渲染bundle为http://127.0.0.1:3000/dest/bundle.js</p>
      </div>
      <% if(htmlWebpackPlugin.options.qap) { %>
        <div class="qrcode qap">
          <h2>千牛qap应用二维码</h2>
          <p class="debug-info">使用debug版千牛直接扫码，即可开启调试。修改qap.json更改调试首页</p>
          <div id="J_img_qap" class="img">
          </div>
        </div>
      <% }else{ %>
        <div id="J_img_qap" style="display:none"></div>
      <% } %>
      <div class="qrcode h5">
        <h2><a href="javascript:;" id="J_h5_link" target="_blank">H5页面查看</a></h2>
        <div id="J_img_h5" class="img">
      </div>
      </div>
    </div>
    <div class="desc">
      <ol>
        <!--<li>请拿<a-->
            <!--href="http://mtl3.alibaba-inc.com/publish/project_build_config.htm?spm=0.0.0.0.hOAFl5&projectId=31247&buildConfigId=181144">debug版本的手淘</a>,扫上面的二维码查看weex、H5效果-->
        <!--</li>-->
        <!--<li>更详细的weex开发及调试方式,<a href="http://gitlab.alibaba-inc.com/fie/fie-toolkit-nuke">请查看文档</a></li>-->
        <li>有疑问请钉钉联系:@督布</li>
        <li><a target="_blank" href="https://gitlab.alibaba-inc.com/fie/fie-toolkit-nuke/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">我有新需求</a></li>
      </ol>
    </div>
  </div>
  <div class="right" >
    <h2>debug</h2>

    <div>
      <h2>
          <span>1. 基本调试<span>
          <i class="iconfont">&#xe6be;</i>
          <i class="iconfont">&#xe801;</i>
      </h2>
      <div class="bs-example">
        <h3>全局依赖</h3>
        <li class="bs-example-li">
          <% if( htmlWebpackPlugin.options.weexToolkit){ %>
            <i class="iconfont" style="color:green">&#xe624;</i>
          <% }else{ %>
            <i class="iconfont" style="color:red">&#xe61c;</i>
          <% } %>
          <p>weex-toolkit: tnpm install -g weex-toolkit</p>
        </li>
        <li class="bs-example-li">
          <p><a href="http://mtl3.alibaba-inc.com/project/project_build_config.htm?projectId=31190&buildConfigId=241160" target="_blank">千牛QAP IOS debug包下载地址</a><p>
          <p><a href="http://mtl3.alibaba-inc.com/project/project_build_config.htm?projectId=41716&buildConfigId=246053" target="_blank">千牛QAP Android debug包下载地址</a></p>
        </li>
        <!--<h3>IOS</h3>-->
        <!--<li>xcode: 使用App Store内安装xcode</li>-->
        <!--<h3>Android</h3>-->
        <!--<li>virtualbox: <a href="http://download.virtualbox.org/virtualbox/5.1.12/VirtualBox-5.1.12-112440-OSX.dmg">点击下载</a></li>-->
        <!--<li>Genymotion: <a href="https://www.genymotion.com/#!/download">点击下载genymotion个人免费版</a> 需要在官方注册。</li>-->
      </div>
    </div>
    <div>
      <h2>
        <span>2. 调试进阶</span>
        <i class="iconfont">&#xe6be;</i>
      </h2>
      <div class="bs-example">
        <h3>IOS模拟器</h3>
        <li class="bs-example-li">
          <% if(htmlWebpackPlugin.options.xcode){ %>
            <i class="iconfont" style="color:green">&#xe624;</i>
          <% }else{ %>
            <i class="iconfont" style="color:red">&#xe61c;</i>
          <% } %>
          <p>安装Xcode，版本需大于7.0</p>
        </li>
        <li class="bs-example-li" aa=<%= htmlWebpackPlugin.options.iosSimulator.length %> >
          <% if(htmlWebpackPlugin.options.iosSimulator.length>0){ %>
            <i class="iconfont" style="color:green">&#xe624;</i>
          <% }else{ %>
            <i class="iconfont" style="color:red">&#xe61c;</i>
          <% } %>
          <p>安装Simulator，路径 Xcode => window => Device => Simulator</p>
          <select id="ios_device">
            <% for(var key of htmlWebpackPlugin.options.iosSimulator) { %>
            <option value="<%= key.value %>">
              <%= key.name %>
            </option>
            <% } %>
          </select>
          <button id="launchIosSimlator" class="launch-btn" type="button">启动模拟器</button>
          <img id="loading_simctl" width="80px" class="loading" src="https://img.alicdn.com/tps/TB15QM8PFXXXXbRaXXXXXXXXXXX-441-291.gif"/>
        </li>
        <li class="bs-example-li">
           <i class="iconfont" style="color:#3089DC">&#xe60a;</i>
          <p>
            <span>安装模拟器千牛或手淘应用<span>
            <a href="http://web.npm.alibaba-inc.com/package/@ali/fie-plugin-simctl" target="_blank">安装工具</a>
          </p>
          <select id="ios_app">
            <option value="ios_qn">
              千牛IOS
            </option>
            <option value="ios_tb">
              手淘IOS
            </option>
          </select>
          <button id="installIosApp" class="launch-btn" type="button">一键安装</button>
          <span style="font-size:12px">默认将安装最新版</span>
          <img id="loading_install" width="80px" class="loading" src="https://img.alicdn.com/tps/TB15QM8PFXXXXbRaXXXXXXXXXXX-441-291.gif"/>
          <span id='ios_info' style="font-size:12px;color:red"></span>
        </li>
         <li class="bs-example-li">
            <% if(htmlWebpackPlugin.options.mds){ %>
              <i class="iconfont" style="color:green">&#xe624;</i>
            <% }else{ %>
              <i class="iconfont" style="color:red">&#xe61c;</i>
            <% } %>
            <p>安装MDS，用于手淘等其他场景调试<a href="http://www.atatech.org/articles/67369">ATA使用教程</a></p>
            <label>weex bundle</label>
            <input type="text" id="bundleInput" class="bundle-input" placeholder="请使用host代理127.0.0.1到taobao域下"/>
            <button id="launchMds" class="launch-btn" type="button">启动MDS调试</button>
        </li>
        <!-- <li>打开模拟器: open -a "Simulator" --args -CurrentDeviceUDID CA3C9A5A-C522-4AC0-98CD-E1F5CDC1DCC7</li>
        <li><a href="http://download.taobaocdn.com/qianniu/JDY_app_3_7_2.zip" >下载千牛app</a>并解压到~/Downloads/JDY.app </li>
        <li>安装千牛app: xcrun simctl install booted ~/Downloads/JDY.app</li>
        <li>打开千牛app: xcrun simctl launch booted com.taobao.sellerplatform</li> -->
        <h3 class="todo">Android模拟器</h3>
        <li class="todo"> brew安装 ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</li>
        <li class="todo"> adb安装 brew install android-platform-tools</li>
        <li class="todo"> 广播切换bundle adb shell am broadcast -a com.taobao.qianniu.qap_debug --es js http://127.0.0.1/theme/index.js
        </li>
      </div>
    </div>
    <div>
      <h2>3.相关文档</h2>
      <div class="bs-example">
        <li class="bs-example-li"><a href="https://open.taobao.com/docs/doc.htm?spm=a219a.7629140.0.0.lM98SE&treeId=260&articleId=106504&docType=1" target="_blank">qap.json文件说明</a></li>
        <li class="bs-example-li"><a href="http://site.alibaba.net/nuke/docs_tools/" target="_blank">nuke周边工具文档</a></li>
        <li class="bs-example-li"><a href="http://rax.alibaba-inc.com/" target="_blank">RAX文档</a></li>
        <li class="bs-example-li"><a href="http://rax.alibaba-inc.com/" target="_blank">RAX文档</a></li>
        <li class="bs-example-li"><a href="http://nuke.taobao.org" target="_blank">NUKE正式版文档</a></li>
        <li class="bs-example-li"><a href="http://beta.nuke.taobao.org" target="_blank">NUKE测试版文档</a></li>
        <li class="bs-example-li"><a href="https://alimarket.taobao.com/markets/qnww/qap-sdk/doc" target="_blank">QAP-SDK文档</a></li>
        <li class="bs-example-li"><a href="https://open.taobao.com/docs/doc.htm?treeId=260&articleId=105545&docType=1" target="_blank">QAP文档</a></li>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script>
  (function () {
    function getUrl(subpath) {
      return 'http://' + location.host + '<%= htmlWebpackPlugin.options.publicPath %>' + subpath + '.js';
    }
    function getIosUdid(){
      var e = document.getElementById('ios_device');
      return e.options[e.selectedIndex].value;
    }
    function getIosAppName(){
      var e = document.getElementById('ios_app');
      return e.options[e.selectedIndex].value;
    }
    function setImage(imgDom, url) {
      if (url) {
        imgDom.innerHTML = '<img src="http://s.jiathis.com/qrcode.php?url=' + encodeURIComponent(url) + '" title="请用手淘扫二维码看效果" />'
      } else {
        imgDom.innerHTML = '出错啦! 页面打开方式不对,请通过 fie start 来打开页面!'
      }
    }

    function createQrcode(url) {
      var h5_imgDom = document.getElementById('J_img_h5');
      var weex_imgDom = document.getElementById('J_img_weex');
      var qap_imgDom = document.getElementById('J_img_qap');
      var h5_url = 'http://' + location.host + '<%= htmlWebpackPlugin.options.publicPath %>h5.html?_tpl=' + url;
      document.getElementById('J_h5_link').href = h5_url;
      setImage(h5_imgDom, h5_url);
      var mutil_url = 'http://' + location.host + '<%= htmlWebpackPlugin.options.publicPath %>h5.html?_wx_tpl=http://'+location.host+'/dest/bundle.js';
      setImage(weex_imgDom, mutil_url);
      var qapDebugInfo = {
        ip:location.hostname,
        weexDebugPort:8088,
        appKey:'invalid',
        qapFileServer:'http://'+location.host+'/',
        devServer:'http://'+location.hostname+':3000<%= htmlWebpackPlugin.options.publicPath %>'
      };
      var qap_url = 'qap://debug?debugInfo='+JSON.stringify(qapDebugInfo);
      console.log('qap_debug',qap_url);
      setImage(qap_imgDom,qap_url)
      $('#bundleInput').val(url);
      console.log('weex:', 'http://m.taobao.com?_wx_tpl=' + url);
    }
    createQrcode(getUrl('<% for(var key in htmlWebpackPlugin.options.entry) {%><%= key %><% break; } %>'));
            
    var srcUrl = 'http://'+location.host+'<%= htmlWebpackPlugin.options.publicPath %>'+document.getElementById('J_entry').value+'.js';
    
    document.getElementById('J_entry').onchange = function (e) {
      srcUrl = 'http://'+location.host+'<%= htmlWebpackPlugin.options.publicPath %>'+document.getElementById('J_entry').value+'.js';
      $.ajax({url:'launch/bundle',data:{srcUrl:srcUrl}}).success(function(res){
        console.log(res);
      });
      createQrcode(getUrl(e.target.value));
    };

    document.getElementById('launchIosSimlator').onclick = function(){
      var udid = getIosUdid();
      $('#loading_simctl').css('display','block');
      $.ajax({url:'launch/launchIosSimlator',data:{udid:udid}}).success(function(res){
        if(res){
          $('#loading_simctl').css('display','none');
        }else{
          alert('启动失败，请再次点击');
        }
      })
    }

    document.getElementById('installIosApp').onclick = function(){
      var appName = getIosAppName();
      $('#loading_install').css('display','block');
      $.ajax({url:'launch/installIosApp',data:{appName:appName}}).success(function(res){
         if(res){
          $('#loading_install').css('display','none');
        }else{
          alert('安装失败，请再次点击');
        }
        // document.getElementById('ios_info').innerHTML = res;
      });
    }

    document.getElementById('launchMds').onclick = function(){
      var bundle = document.getElementById('bundleInput').value;
      $.ajax({url:'launch/launchMdsDebug',data:{bundle:bundle}}).success(function(res){
        if(res){
          console.log('mds启动成功');
        }else{
          console.log('mds启动失败');
        }
      });
    }
    
    $.ajax({url:'launch/bundle',data:{srcUrl:srcUrl}});
    //维持一个心跳链接，防止重复打开该页面


  })();

</script>

</body>
</html>
